<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create-admin" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" name="nickname" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Crea Admin</button>
</form>
</body>
</html>