<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>La santissima meme</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="immagini/memeLogo.png">
  <link th:href="@{css/post.css}" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>


</head>

<body class="fc-pb">

  <!--NAVBAR-->
  <nav class="navbar navbar-expand-lg fc-fb customNav">
    <div class="container d-flex navImg">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <img th:src="@{immagini/memeLogo.png}" alt="logo" style="width: 10%;">
      <div class="p-0 fs-1"><strong class="fc-t"><a th:href="@{/} " class="text-decoration-none fc-t">LA SANTA
            MEME</a></strong></div>

      <ul class="nav justify-content-end">

        <li class="nav-item">
          <a class="nav-link fc-t fs-4" th:href="@{/adminForm} ">Unisciti a noi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fc-t fs-4" th:href="@{/loginAdmin} "
            th:text="${session.admin != null} ? ${session.admin.username} : 'Login' ">Login</a>
        </li>

      </ul>
    </div>
  </nav>
  <!-- 
    <div class="d-flex fc-fb fc-p tipo-display py-2 fs-5">
        <a href="#" class="text-white text-decoration-none">Home</a>
        <a href="#" class="text-white text-decoration-none">Papa</a>
        <a href="#" class="text-white text-decoration-none">Cardinali</a>
        <a href="#" class="text-white text-decoration-none">Vaticano</a>
        <a href="#" class="text-white text-decoration-none">Archivio</a>
        <a href="#" class="text-white text-decoration-none">Top meme</a>
        <a href="#" class="text-white text-decoration-none">Altro</a>
    </div> -->

  <div class="d-flex fc-fb fc-p fs-4 p-2">
    <nav class="hamburgermenu">
      <button class="btn fc-tb py-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
          fill="currentColor" class="bi bi-list " viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
        </svg></button>

      <div class="offcanvas offcanvas-start fc-fb" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
        aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header d-flex flex-column">
          <img th:src="@{immagini/memeLogo.png}" alt="logo" style="width: 10%;">
          <button type="button" class="btn-close fc-sb" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="nav justify-content-end d-flex flex-column">
            <li class="nav-item">
              <a class="nav-link fc-t fs-4" th:href="@{/} ">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fc-t fs-4" th:href="@{/adminForm} ">Unisciti a noi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fc-t fs-4" th:href="@{/loginAdmin}"
                th:text="${session.admin != null} ? ${session.admin.username} : 'Login' ">Login</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!--POST-->
  <section class="blog-posts grid-system">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="all-blog-posts">
            <div class="row">
              <div class="col-lg-12">
                <div class="blog-post">
                  <div class="blog-thumb" th:style="${immaginePost == 'NULL' ? 'display:none' : 'display:block'}">
                    <img th:src="${post.immaginePost}" alt="img">
                  </div>
                  <div class="down-content">
                    <h2 th:text="${post.titolo}"></h2>
                    <ul class="post-info">
                      <li><a
                          th:text="|Pubblicato il: ${#temporals.format(post.dataPubblicazione, 'dd-MM-yyyy  HH:mm')}|"></a>
                      </li>
                    </ul>
                    <p th:text="${post.contenuto}"></p>
                    <div class="post-options">
                      <div class="row">
                        <ul class="post-share">Condividi
                          <li><i class="fa fa-share-alt"></i></li>
                          <li><a href="https://www.facebook.com/sharer/sharer.php?u=<localhost:8080>">
                              Facebook
                            </a> - </li>
                          <li><a href="https://twitter.com/share?url=<localhost:8080>&text=<TEXT>via=<Autore>">
                              Twitter
                            </a> - </li>
                          <li><a href="https://reddit.com/submit?url=<localhost:8080>&title=<La Santa Meme>">
                              Reddit
                            </a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--LISTA COMMENTI-->
              <div class="col-lg-12">
                <div class="sidebar-item comments">
                  <div class="sidebar-heading-commento">
                    <h2>COMMENTI</h2>
                  </div>
                  <div class="content">
                    <div class="row">
                      <ul>
                        <li th:each="commento : ${commenti}" th:if="${commento.post.id == post.id}">
                          <div class="right-content row">
                            <h4><span th:if="${commento.post.id == post.id}"
                                th:text="${#temporals.format(commento.dataCommento, 'dd-MM-yyyy | HH:mm')}"></span></h4>
                            <h5 th:text="${commento.testo}"></h5>
                            <!-- Mostra l'immagine se presente -->
                            <div th:if="${commento.immagineCommento != null && commento.immagineCommento != ''}">
                              <img th:src="${commento.immagineCommento}" alt="Immagine commento" class="img-fluid mt-2"
                                style="max-width: 100%; max-height: 300px;">
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!--INSERISCI COMMENTO-->
              <div class="col-lg-12">
                <div class="sidebar-item submit-comment">
                  <div class="sidebar-heading-commento">
                    <h2>COMMENTA</h2>
                  </div>
                  <div class="content">
                    <form id="comment" action="/aggiungicommento" method="post" enctype="multipart/form-data">
                      <div class="row">
                        <input type="hidden" name="postId" th:value="${post.id}">

                        <!-- Fieldset per la ricerca e il commento -->
                        <fieldset class="bordo comment-parent">
                          <textarea name="testo" rows="6" id="testo" placeholder="Scrivi il tuo commento"></textarea>
                          <div class="svg-container dropdown">
                            <svg width="39px" height="39px" viewBox="0 0 24 24" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M4 4C4 3.44772 4.44772 3 5 3H14H14.5858C14.851 3 15.1054 3.10536 15.2929 3.29289L19.7071 7.70711C19.8946 7.89464 20 8.149 20 8.41421V20C20 20.5523 19.5523 21 19 21H5C4.44772 21 4 20.5523 4 20V4Z"
                                stroke="#200E32" stroke-width="2" stroke-linecap="round" />
                              <path d="M20 8H15V3" stroke="#200E32" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                              <path
                                d="M9 13H8C7.44772 13 7 13.4477 7 14V16C7 16.5523 7.44772 17 8 17H8.5C9.05228 17 9.5 16.5523 9.5 16V15.5"
                                stroke="#200E32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                              <path d="M9 15.5H9.5" stroke="#200E32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                              <path d="M12 13V17" stroke="#200E32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                              <path d="M15 17V13L17 13" stroke="#200E32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                              <path d="M15.5 15H16.5" stroke="#200E32" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
                            <div class="dropdown-content">
                              <!-- Campo nascosto per memorizzare l'URL della GIF selezionata -->
                              <input type="hidden" id="immagine" name="immagine" value="">

                              <!-- Fieldset per la ricerca e il commento -->
                              <fieldset class="bordo">
                                <input type="text" id="search" placeholder="Cerca Gif…" class="cercagif">
                                <button id="btnGif" type="button" onclick="getGif();"
                                  class="btn btn-outline-danger btn-cercagif">
                                  Trova
                                </button>
                              </fieldset>
                              <div id="gifcontainer">

                              </div>
                            </div>
                          </div>
                        </fieldset>
                        <div class="col-lg-12">
                          <div id="selected-gif">
                            
                          </div>
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button" disabled>Invia</button>
                          </fieldset>
                        </div>
                        </input>
                      </div>
                    </form>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!--BARRA LATERALE-->
        <div class="col-lg-4 col-xl-4 px-4 d-flex flex-column">
          <div class="sidebar">
            <!--AUTORE POST-->
            <div class="col-lg-12">
              <div class="sidebar-heading">
                <h2>Autore del post:</h2>
              </div>
              <div class="row autorepost">
                <div class="container col-lg-6 nomeautore">
                  <a th:text="${post.admin.nickname}"></a>
                </div>
                <div class="container col-lg-6 imgautore">
                  <img th:src="${post.admin.img}" alt="img" style="border-radius: 50%; width:120px; height:120px">
                </div>
              </div>
            </div>

            <!--POST NUOVI-->
            <div class="col-lg-12">
              <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                  <h2>Novità:</h2>
                </div>
                <div class="content postrecenti">
                  <div id="scrollLaterale" class="scroll-laterale">
                    <ul class="lista-croci">
                      <li th:each="post:${posts.?[visible == 1]}" class="mb-2 recenti">
                        <a th:href="@{/dettaglio(id=${post.id})}" th:text="${post.titolo}"
                          class="text-decoration-none fc-t customFont">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--ADS-->
            <div class="col-lg-12">
              <div class="sidebar-item recent-posts">
                <div class="sidebar-heading">
                  <h2>Pubblicità:</h2>
                </div>
                <div class="ads">
                  <img src="/immagini/ads/vivaio.png" alt="img">
                </div>
                <div class="ads">
                  <img src="/immagini/ads/sport.png" alt="img">
                </div>

                <div class="ads">
                  <img src="/immagini/ads/concerti.png" alt="img">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>

  </section>

  <!--FOOTER-->
  <footer class="fc-fb text-center text-white">
    <div class="container p-4">
      <section class="">
        <div class="row">
          <div class="col mb-4 mb-md-0">
            <h5 class="text-uppercase">La Santa Meme</h5>
            <p class="fs-5">
              L'ennesimo portale italiano dedicato ai meme religiosi, dove la fede incontra l'ironia
              in un mix assolutamente divino.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2025 CopyrightMemetico:
      <a class="text-white" href="#">LaSantaMeme.com</a>
    </div>
  </footer>

</body>
<script>

  async function getGif() {
    const query = document.getElementById('search').value;
    const key = "AIzaSyBtXEYbMqI50onTvcfn64bxHGYjtwbH6VA";
    const url = 'https://tenor.googleapis.com/v2/search?q=' + query +
      '&key=' + key + '&limit=10';

    try {
      const response = await fetch(url);
      if (!response.ok) {
        throw new Error(`Errore nella fetch: ${response.status}`);
      }
      const data = await response.json();
      const gifs = data.results;

      const gifContainer = document.getElementById('gifcontainer');

      // Svuota il carosello corrente
      gifContainer.innerHTML = '';

      gifs.forEach((gif, index) => {
        const gifUrl = gif.media_formats?.nanogif?.url || gif.item_url || '';

        // Crea la slide
        const itemDiv = document.createElement('div');
        itemDiv.classList.add('gifwrapper')

        itemDiv.innerHTML = `
        <img src="${gifUrl}" class="d-block w-100 gif" alt="Gif ${index + 1}">`;

        gifContainer.appendChild(itemDiv);

        itemDiv.addEventListener('click', function () {
          document.getElementById("immagine").value = gifUrl;
          document.getElementById("selected-gif").innerHTML = `<img src="${gifUrl}" class="d-block gif" alt="Gif ${index + 1}"> <a id="cancella" class="remove-image" style="display: inline;">&#215;</a>`;
          checkInput();
          const eliminagif = document.getElementById('cancella');
          eliminagif.addEventListener('click', function(){
          document.getElementById("immagine").value = null;
          document.getElementById("selected-gif").innerHTML = '';
          checkInput();
          })
        })
      });

    } catch (error) {
      console.error('Errore durante il recupero delle GIF:', error);
    }
  }


  //Logica per attivare il bottone
  function checkInput() {
    const immagine = document.getElementById('immagine').value;
    const comment = document.getElementById('testo').value;
    const submitBtn = document.getElementById('form-submit');

  
    // Abilita il bottone se uno dei campi ha testo
    if (!!immagine || !!comment ) {
      submitBtn.disabled = false
    } else {
      submitBtn.disabled = true
    }
  }

  document.getElementById('immagine').addEventListener('input', checkInput);
  document.getElementById('testo').addEventListener('input', checkInput);


</script>


</html>