<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La santa meme</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="../static/css/style.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
    crossorigin="anonymous"></script>
</head>

<body>
    <div class="container fc-pb">
        <div class="row text-center p-5">
            <h1><strong class="fc-t">LA SANTA MEME</strong></h1>
        </div>
        <div class="row">
            <div class="col m-3 ">
                <h3>
                    Papa lancia linea di profumi: 'Eau de Sacrestia', con note d’incenso e burocrazia'
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur obcaecati ad cum cupiditate
                    asperiores porro fuga quaerat optio ipsam culpa eligendi quam quis vel sit mollitia voluptate
                    facilis, totam eius dignissimos ea repellendus. Animi distinctio sunt culpa numquam unde recusandae
                    beatae, porro dicta aut, provident rem optio? Accusamus, impedit blanditiis aliquid alias dolorem
                    velit eum laudantium tenetur sequi officia minima eaque at voluptates sunt asperiores facere nihil
                    numquam nostrum! Doloremque ratione, qui dolores at optio, ab suscipit eos corrupti minus eveniet
                    quibusdam beatae culpa vitae accusantium. Possimus, reprehenderit accusamus explicabo totam ab
                    dolorum quos! Quo consequatur illo possimus modi cupiditate ratione, ea praesentium odit quisquam
                    fugit cumque quasi consectetur nesciunt delectus deserunt reprehenderit quidem cum totam harum
                    molestias? Exercitationem rem nisi, debitis adipisci voluptatibus fugiat amet incidunt maxime qui
                    nobis! Quam, atque omnis. Ut consectetur perferendis aspernatur qui nobis accusantium nesciunt
                    atque! Ad, laboriosam quia, maiores vel perspiciatis ab ut eum laborum nihil ducimus sed, cupiditate
                    quaerat dolores iure veritatis fugiat autem deleniti voluptatibus quasi magnam aperiam. Vel deleniti
                    sapiente, iusto consequuntur, fugiat iure aliquam consequatur debitis ipsum, in tempora nostrum
                    corrupti! Culpa adipisci officiis, quia esse atque autem reprehenderit modi sapiente veritatis
                    pariatur aperiam saepe laudantium rem error harum placeat ducimus earum inventore aut cum vel fugiat
                    libero deleniti! Minima quas fuga quae, non delectus eaque fugiat odio autem, iusto blanditiis
                    doloribus nam laboriosam aspernatur hic labore, suscipit rem quo. Aliquid error earum, consectetur
                    fugiat distinctio similique ducimus amet architecto alias at? Officiis ullam, impedit illum, animi
                    eos repudiandae quos, necessitatibus corporis perferendis nobis reprehenderit asperiores repellat
                    provident error. Tenetur labore quos harum accusantium eius corrupti repellat autem suscipit
                    voluptatem tempore id earum aliquid iure esse blanditiis saepe officiis fugiat, unde nam laudantium?
                    Explicabo eligendi alias quia blanditiis assumenda maiores, reiciendis, fuga itaque tenetur numquam
                    facere totam! Libero qui fugiat enim ab.
                </p>
                
            </div>
            <div class="col-3 m-3">
                <p>
                    Papa Francesco sostituisce la Papamobile con un monopattino elettrico: 'Finalmente posso fare il
                    giro della piazza in 5 minuti!'
                </p>
                <p>
                    Conclave segreto rivela: i cardinali votano solo chi sa fare la pizza perfetta
                </p>
                <p>
                    Papa sbatte accidentalmente contro un muro: 'Ecco perché non si dovrebbe twittare mentre si cammina'
                </p>
                
            </div>
            
            <div th:each="post : ${posts}" class="col-lg-3 text-center p-2">
                <!-- Titolo del post -->
                <h4 class="text-primary mt-2">
                    <a th:href="@{/dettaglio(id=${post.id})}" th:text="${post.titolo}" class="text-decoration-none">Titolo libro</a>
                </h4>
                
                <!-- Admin che ha creato il post -->
                <span class="text-muted" th:text="|Creato da: ${post.admin.username}|"></span>
                
                <!-- Commenti relativi al post -->
                <div th:each="commento : ${commenti}" th:if="${commento.post.id == post.id}">
                    <p th:text="${commento.testo}"></p>
                </div>
            </div>
            
        </div>
        
    </div>
    
</body>

</html>