@import "style.css";

html, body { 
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

.hamburgermenu{
  z-index: 7;
}

.content{
  flex: 1; 
}

nav{
  z-index:6;
}

footer {
  margin-top: auto;
  flex:0;
z-index:5;}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 2;
}


.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 3;
  
}

.login-form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px var(--third-color);
  z-index:4;
}

.login-title {
  color: black;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.login-sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.login-form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.login-form_style {
  outline: none;
  border: 2px solid black;
  box-shadow: 3px 4px 0px 1px var(--third-color);
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.login-form_style:focus, .btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px var(--third-color);
}

.login-btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  color:white;
  background: var(--four-color);
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px var(--third-color);
}

.login-btn:hover {
  opacity: .9;
}

@media (max-width: 2559px) {

    body {
        font-size: large;
    }
}



/* SFONDO SFUMATO
body {
    background: linear-gradient(-45deg, #FFE6E6, #FFE6E6, #FF2626, #FFE6E6);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/


svg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    shape-rendering: geometricPrecision;;
}
@keyframes rotate {
					 0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
            .out-top {
                animation: rotate 20s linear infinite;
                transform-origin: 13px 25px;
            }
            .in-top {
                animation: rotate 10s linear infinite;
                transform-origin: 13px 25px;
            }
            .out-bottom {
                animation: rotate 25s linear infinite;
                transform-origin: 84px 93px;
            }
            .in-bottom {
                animation: rotate 15s linear infinite;
                transform-origin: 84px 93px;
            }


a img.icon {
    display: inline-block;
    height: 1em;
    margin: 0 0 -0.1em 0.3em;
}