@import "style.css";

body{
	 overflow-x: hidden; 
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/*POST*/
.blog-posts {
	margin-top: 2%;
	margin-bottom:2%;
}

.blog-posts .blog-post {
	margin-bottom: 20px;
}

.blog-thumb img {
	width: 100%;

}

.blog-posts .down-content {
	padding: 40px;
	border: 1px solid var(--third-color);
    border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}


/*AUTORE*/
.autorepost{
	padding-top: 2%;
	display: flex;
	flex-direction:row;
	align-items: center;
	margin-left: 4%;
	margin-right: 4%;
}

.autorepost, .nomeautore{
   font-weight: bold;
   font-size: 1.5vw;
   word-break: break-word;
   text-align: left;
   padding-right:0px;

}


/*TITOLO POST*/
.blog-posts .down-content h2 {
	font-size: xx-large;
	letter-spacing: 0.5px;
	font-weight: 900;
	margin: 8px 0px 10px 0px;
}

/*INFO POST*/
.blog-posts .down-content ul.post-info li {
	display: inline-block;
	margin-right: 8px;
	font-size:large;
}

.grid-system .down-content ul.post-info li {
	margin-right: 3px;
	font-size:large;
}

.grid-system .down-content ul.post-info li:after {
	margin-left: 5px;
}

.blog-posts .down-content ul.post-info li:last-child::after {
	display: none;
}

.blog-posts .down-content ul.post-info li a {
	font-size: larger;
	color: var(--third-color);
	font-weight: 400;
	transition: all .3s;
}

.blog-posts .down-content ul.post-info li a:hover {
	color: var(--third-color);
}

.blog-posts .down-content p {
	padding: 25px 0px;
	margin: 25px 0px;
	border-top: 1px solid var(--third-color);
	border-bottom: 1px solid var(--third-color);
    font-size: x-large;
}

/*PULSANTI DI SHARE*/
.blog-posts .down-content ul.post-share {
	text-align: right;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	display: inline-block;
}

.blog-posts .down-content ul.post-tags li:first-child i,
.blog-posts .down-content ul.post-share li:first-child i {
	color: var(--second-color);
	margin-right: 5px;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	color: var(--third-color);
}

.blog-posts .down-content ul.post-tags li a,
.blog-posts .down-content ul.post-share li a {
	font-size: medium;
	color: var(--third-color);
	font-weight: 400;
	transition: all .3s;
}

.blog-posts .down-content ul.post-tags li a:hover,
.blog-posts .down-content ul.post-share li a:hover {
	color: var(--second-color);
}



/*COMMENTI*/
.blog-posts .comments {
	margin-top: 5%;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}

#testo {
	margin-top:5%;
}

/*blocco commenti*/
.blog-posts .comments ul li {
	display: inline-block;
	padding-bottom: 20px;
    word-break: break-word;
    margin-right: 3%;
	margin-left: 3%;
	display: list-item;
	list-style-type: none;
   
}

.blog-posts .comments ul li .right-content {
    color: var(--third-color);
	font-size: 16px;
	letter-spacing: 0.5px;
    text-align: justify;
	text-justify: inter-word;
}

.blog-posts .comments ul li .right-content span {
	font-size: large;
    color: var(--second-color);
	font-weight: bolder;
	letter-spacing: 0.25px;
}
.blog-posts .comments ul li .right-content p {
	font-size: large;
    color: var(--fifth-color);
	font-weight: bold;
	letter-spacing: 0.3px;
	margin-left: 5%;
    margin-right: 10%;
    text-transform: none;
}

.right-content{
  width:auto;
  word-wrap: break-word;
  color: var(--third-color);
}

/*input commento*/

.blog-posts .submit-comment input {
	width: 100%;
	height: 46px;

	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	outline: none;
	padding: 0px 15px;
	margin-bottom: 5%;
	border-radius: 25px;
	border: 3px solid black;
	box-shadow: 3px 4px 0px 1px var(--third-color);
	
}
.blog-posts .submit-comment form {
    margin-left: 3%;
    margin-right: 3%;
}
.blog-posts .submit-comment textarea {
	width: 100%;
	height: 46px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	outline: none;
	padding: 10px 15px;
	margin-bottom: 5%;
	height: 180px;
	max-height: 220px;
	max-width: 100%;
	min-width: 160px;
	border-radius: 25px;
	border: 3px solid black;
	box-shadow: 3px 4px 0px 1px var(--third-color);
}

.blog-posts .submit-comment button {
	display: inline-block;
	background-color: var(--second-color);
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	padding: 12px 20px;
	text-transform: uppercase;
	transition: all .3s;
	border: none;
	outline: none;
	box-shadow: 3px 4px 0px 1px var(--third-color);
}

.blog-posts .submit-comment button:hover {
	background-color: var(--fifth-color);
}


/*SIDEBAR*/
.sidebar {
	margin-left: 2%;
	margin-bottom: 8%;
}

.sidebar .sidebar-item {
	margin-top: 50px;
}


.sidebar .sidebar-heading h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.5px;
	color: var(--third-color);
	border-bottom: 1px solid var(--third-color);;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-left:8%;
    margin-right: 8%;
}



.sidebar .sidebar-heading-commento h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.5px;
	color: var(--third-color);
	border-bottom: 1px solid var(--third-color);;
	padding-bottom: 15px;
	margin-bottom: 25px;
}
.blog-posts .sidebar-heading-commento h2 {
	font-size: xx-large;
	font-weight: 900;
	letter-spacing: 0.5px;
	color: var(--third-color);
	border-bottom: 1px solid var(--third-color);;
	padding-bottom: 15px;
	margin-bottom: 25px;
    margin-left:3%;
    margin-right: 3%;
}


.sidebar .recent-posts .container {
    height: fit-content;
}

.sidebar .recent-posts ul {
    list-style: none;
}

.sidebar .recent-posts ul li {
	margin-bottom: 15px;
	padding-bottom: 15px;
	margin-left: 8%;
	margin-right: 8%;
	text-align: left;
}

.sidebar .recent-posts ul li:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

.sidebar-item .recent-posts ,content{
    text-align: end;
}
.sidebar-item .recent-posts , .ads{
	margin-bottom: 4%;
	margin-left: 8%;
	margin-right: 8%;
}
.sidebar .recent-posts ul li a {
	font-size: 19px;
	font-weight: 900;
	color: #20232e;
	line-height: 30px;
	transition: all 0.3s;
    text-align: right;

}

.sidebar .recent-posts ul li a:hover {
	color: var(--second-color);
}


.sidebar .categories ul li {
	margin-bottom: 15px;
}


/*.sidebar .categories ul li a {
	font-size: 15px;
	font-weight: 700;
	color: #20232e;
	transition: all .3s;
}*/

@media (max-width: 2559px) {

    body {
        font-size: x-large;

    }
}

/*pulsante invia commento*/
button {
 appearance: none;
 background-color: transparent;
 border-radius: 0.9375em;
 box-sizing: border-box;
 cursor: pointer;
 display: inline-block;
 font-size: small;
 font-weight: 600;
 line-height: normal;
 margin-bottom: 2%;
 min-height: 3.75em;
 min-width: 0;
 outline: none;
 padding: 0.5em 1em;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

button:disabled {
 pointer-events: none;
}

button:hover {
 color: #fff;
 box-shadow: var(--second-color) 0 8px 15px;
 transform: translateY(-2px);
}

button:active {
 box-shadow: none;
 transform: translateY(0);
}



@media(max-width:1200px){
	body {
        font-size: xx-large;
    }

	.sidebar{
		margin-top:8%;
	}
	.autorepost, .nomeautore{
   text-align: center;
   font-weight: bold;
   font-size:large;
}
   .autorepost, .imgautore{
   padding-left: 1%;
   padding-right: 1%;
   margin-top: 4%;
}
}