:root{
    --main-color: #FFE6E6;
    --second-color: #FF2626;
    --third-color: #BD1616;
    --four-color: #0c0c0c;
}

.fc-p{
    color: var(--main-color);
}

.fc-pb {
    background-color: var(--main-color);
}

.fc-s{
    color: var(--second-color);
}