:root {
    --main-color: #FFE6E6;
    --second-color: #FF2626;
    --third-color: #BD1616;
    --four-color: #0c0c0c;
}

body {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: large;
}

.hamburgermenu {
    display: none;

    svg {
        width: 40px;
        height: 40px;
    }

}

.containerCustom {
    width: 65%;
    margin: auto;
}

.customFont {
    font-size: 20px;
}

.fc-p {
    color: var(--main-color);
}

.fc-pb {
    background-color: var(--main-color);
}

.fc-s {
    color: var(--second-color);
}

.fc-sb {
    background-color: var(--second-color);
}

.fc-t {
    color: var(--third-color);
}

.fc-f {
    color: var(--four-color);
}

.fc-tb {
    background-color: var(--third-color);
}

.fc-fb {
    background-color: var(--four-color);
}

.pap1 {
    height: 200px;
    width: auto;
}

.bordo {
    -webkit-text-stroke: 1px black;
}
/* 
a:hover {
    color:var(--second-color)  !important;
} */

img {
    width: 700px;
    height: 500px;
    justify-self: center;
    object-fit: cover;
}

.navImg img {
    width: 10% !important;
    height: auto;
}

svg {
    height: 70px;
    width: 70px;
    color: black;
}

.riquadroTest {
    background-size: cover;
    width: 100%;
    height: 400px;
}

/* TEST ROBE */

.carousel-item.active {
    background-size: contain;
    /* width: 500px; */
    height: 500px;
}

div#carouselExampleCaptions {
    width: 1000px;
    justify-self: center;
}

.justify-self-center {
    justify-self: center;
}


.vh {
    height: 70vh;
}

#reqBtn:hover {
    color: #FF2626;
    background-color: #0c0c0c;
}

/* Lista croci */

.lista-croci {
    list-style: none;
    padding-left: 0;
}

.lista-croci li::before {
    content: "✝ ";
    color: black;
    margin-right: 0.5em;
    font-size: 1.2em;
}

/* Titoli laterali */
.riquadroTest {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.scroll-laterale {
    overflow-y: scroll;
    padding-right: 0.5rem;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
}

.scroll-laterale a {
    color: #BD1616;
    text-decoration: none;
}

.scroll-laterale a:hover {
    color: #FF2626;
}



/*Scorrimento + opzioni di navigazione*/

.tipo-display {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.notizie-scorrimento {
    width: 100%;
    overflow: hidden;
    background-color: 0c0c0c;
    color: #FFE6E6;
    padding: 10px 0;
    white-space: nowrap;
}

.scorrimento-contenuto {
    display: inline-block;
    padding-left: 100%;
    animation: scorrimento 15s linear infinite;
}

@keyframes scorrimento {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Scorrimento notizie */
.ticker-wrapper {
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    font-size: 1.2rem;
    cursor: default;
    position: relative;
}

.ticker {
    display: inline-block;
    animation: ticker-scroll linear infinite;
}

.ticker-item {
    display: inline-block;
    margin-right: 60px;
}

.ticker-link {
    color: var(--four-color);
    text-decoration: none;
    font-weight: bold;
}

.ticker-link:hover {
    color: #FF2626;
}

/* Animazione base */
@keyframes ticker-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


/*LOGIN*/
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-form_area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: auto;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 3px 4px 0px 1px var(--third-color);
}

.login-title {
    color: black;
    font-weight: 900;
    font-size: 1.5em;
    margin-top: 20px;
}

.login-sub_title {
    font-weight: 600;
    margin: 5px 0;
}

.login-form_group {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
}

.login-form_style {
    outline: none;
    border: 2px solid black;
    box-shadow: 3px 4px 0px 1px var(--third-color);
    width: 290px;
    padding: 12px 10px;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.login-form_style:focus,
.btn:focus {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px var(--third-color);
}

.login-btn {
    padding: 15px;
    margin: 25px 0px;
    width: 290px;
    font-size: 15px;
    color: white;
    background: var(--four-color);
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 3px 3px 0px 0px var(--third-color);
}

.login-btn:hover {
    opacity: .9;
}


/*COMMENTI*/
.commenti-container {
    position: relative;
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
}

.toggle {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0 50px;
    padding: 10px;
    background-color: var(--third-color);
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(black, 0.3);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.indicator {
    position: relative;
    top: 4px;
    width: 15px;
    height: 16px;
    line-height: 1.75;
    transition: transform 250ms ease;
    float: right;

    &:before,
    &:after {
        position: absolute;
        content: '';
    }

    &:before {
        top: 50%;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: translateY(-1px);
    }

    &:after {
        left: 50%;
        width: 2px;
        height: 100%;
        background-color: white;
        transform: translateX(-1px);
    }
}


#toggle {
    display: none;

    &:checked+.toggle {

        .indicator {
            transform: rotate(45deg);
        }
    }

    &:checked~.wrapper {
        height: auto;
    }
}

.wrapper {
    position: relative;
    display: block;
    height: 0;
    overflow: hidden;
}

.commento-container {
    position: relative;
    width: 80%;
}

.commento-input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: 4px solid #000;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 0 #000, 10px 10px 0 var(--third-color);
}

/*PULSANTE PUBBLICA COMMENTO*/
.commento-label {
    position: relative;
    width: 15%;
    left: 105%;
    top: -40px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    padding: 5px 10px;
    transform: rotate(-1deg);
    z-index: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*ANIMAZIONE PULSANTE PUBBLICA COMMENTO*/
.commento-input:focus+.commento-label {
    transform: rotate(0deg) scale(1.05);
    background-color: var(--third-color);
}

@keyframes type-gradient {
    0% {
        background-position: 300px 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media (max-width: 2559px) {

    body {
        font-size: xx-large;
    }

    .customFont {
        font-size: 25px;
    }


}


@media (max-width: 1024px) {

    .columnCustom {
        flex-direction: row;
    }

    body {
        font-size: 40px;
    }

    .customFont {
        font-size: 40px;


    }

    .containerCustom {
        width: 80%;
        margin: auto;
    }

    .carousel-item.active {
        background-size: contain;
        /* width: 500px; */
        height: 100%;
    }

    div#carouselExampleCaptions {
        width: 90%;
        justify-self: center;
    }

    .customNav {
        display: none;
    }

    .hamburgermenu {
        display: block;

        img {
            width: 20rem !important;
            height: 20rem !important;
        }
    }
}

@media (max-width: 600px) {

    .columnCustom {
        flex-direction: row;
    }

    body {
        font-size: 30px;
    }

    .customFont {
        font-size: 30px;
    }

    .containerCustom {
        width: 85%;
        margin: auto;
    }

    .columnCustom {
        flex-direction: column;
    }

    .carousel-item.active {
        background-size: contain;
        /* width: 500px; */
        height: 100%;
    }

    div#carouselExampleCaptions {
        width: 90%;
        justify-self: center;
    }
}
*LOGIN*/
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.login-form_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 3px 4px 0px 1px var(--third-color);
}

.login-title {
  color: black;
  font-weight: 900;
  font-size: 1.5em;
  margin-top: 20px;
}

.login-sub_title {
  font-weight: 600;
  margin: 5px 0;
}

.login-form_group {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 10px;
}

.login-form_style {
  outline: none;
  border: 2px solid black;
  box-shadow: 3px 4px 0px 1px var(--third-color);
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}

.login-form_style:focus, .btn:focus {
  transform: translateY(4px);
  box-shadow: 1px 2px 0px 0px var(--third-color);
}

.login-btn {
  padding: 15px;
  margin: 25px 0px;
  width: 290px;
  font-size: 15px;
  color:white;
  background: var(--four-color);
  border-radius: 10px;
  font-weight: 800;
  box-shadow: 3px 3px 0px 0px var(--third-color);
}

.login-btn:hover {
  opacity: .9;
}

/*POST*/
/*POST*/

img {
  max-width: 100%;
  width: auto;
  height: auto;
}


.blog-posts {
	margin-top: 60px;
}

.blog-posts .blog-post {
	margin-bottom: 20px;
}

.blog-thumb img {
	width: 100%;

}

/*linee di margine del post*/
.blog-posts .down-content {
	padding: 40px;
	border-right: 1px solid #969696;
	border-left: 1px solid #969696;
	border-bottom: 1px solid #969696;
}


/*titolo post*/
.blog-posts .down-content h2 {
	font-size: xx-large;
	letter-spacing: 0.5px;
	font-weight: 900;
	margin: 8px 0px 10px 0px;
}

.blog-posts .down-content ul.post-info li {
	display: inline-block;
	margin-right: 8px;
}

.grid-system .down-content ul.post-info li {
	margin-right: 3px;
}

.grid-system .down-content ul.post-info li:after {
	margin-left: 5px;
}

.blog-posts .down-content ul.post-info li:last-child::after {
	display: none;
}

.blog-posts .down-content ul.post-info li a {
	font-size: 14px;
	color: #aaa;
	font-weight: 400;
	transition: all .3s;
}

.blog-posts .down-content ul.post-info li a:hover {
	color: var(--third-color);
}

.blog-posts .down-content p {
	padding: 25px 0px;
	margin: 25px 0px;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
    font-size: x-large;
}

/*PULSANTI DI SHARE*/
.blog-posts .down-content ul.post-share {
	text-align: right;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	display: inline-block;
}

.blog-posts .down-content ul.post-tags li:first-child i,
.blog-posts .down-content ul.post-share li:first-child i {
	color: var(--second-color);
	margin-right: 5px;
}

.blog-posts .down-content ul.post-tags li,
.blog-posts .down-content ul.post-share li {
	color: #969696;
}

.blog-posts .down-content ul.post-tags li a,
.blog-posts .down-content ul.post-share li a {
	font-size: medium;
	color: #969696;
	font-weight: 400;
	transition: all .3s;
}

.blog-posts .down-content ul.post-tags li a:hover,
.blog-posts .down-content ul.post-share li a:hover {
	color: var(--second-color);
}


.blog-posts .sidebar-heading h2 {
	font-size: xx-large;
	font-weight: 900;
	letter-spacing: 0.5px;
	color: #20232e;
	border-bottom: 1px solid #969696;
	padding-bottom: 15px;
	margin-bottom: 25px;
    margin-left:5%;
    margin-right: 5%;
}

.blog-posts .comments {
	margin-top: 30px;
    list-style-type: none;
    margin-left: 0;
    padding: 0;
}


/*blocco commenti*/
.blog-posts .comments ul li {
	display: inline-block;
	margin-bottom: 5%;
	padding-bottom: 20px;
    word-break: break-word;
    margin-right: 3%;
   
}

.blog-posts .comments ul li .right-content {
    color: #20232e;
	font-size: 16px;
	letter-spacing: 0.5px;
     text-align: justify;
  text-justify: inter-word;
}

.blog-posts .comments ul li .right-content span {
	font-size: large;
    color: #000000;
	font-weight: bolder;
	letter-spacing: 0.25px;
}
.blog-posts .comments ul li .right-content p {
	font-size: large;
    color: #616161;
	font-weight: bold;
	letter-spacing: 0.3px;
	margin-left: 5%;
    margin-right: 10%;
    text-transform: none;
}

.right-content{
  width:auto;
  word-wrap: break-word;
}


.blog-posts .submit-comment input {
	width: 100%;
	height: 46px;
	border: 1px solid #969696;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	color: #7a7a7a;
	outline: none;
	padding: 0px 15px;
	margin-bottom: 30px;
}
.blog-posts .submit-comment form {
    margin-left: 5%;
    margin-right: 5%;
}
.blog-posts .submit-comment textarea {
	width: 100%;
	height: 46px;
	border: 1px solid #969696;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	color: #7a7a7a;
	outline: none;
	padding: 10px 15px;
	margin-bottom: 30px;
	height: 180px;
	max-height: 220px;
	max-width: 100%;
	min-width: 160px;
}


.blog-posts .submit-comment button {
	display: inline-block;
	background-color: var(--second-color);
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	padding: 12px 20px;
	text-transform: uppercase;
	transition: all .3s;
	border: none;
	outline: none;
}

.blog-posts .submit-comment button:hover {
	background-color: var(--third-color);
}


/* Sidebar */

.sidebar {
	margin-left: 30px;
}

.sidebar .sidebar-item {
	margin-top: 50px;
}


.sidebar .sidebar-heading h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.5px;
	color: #20232e;
	border-bottom: 1px solid #969696;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.sidebar .search {
	margin-top: 5px;
}
.sidebar .search input {
	width: 100%;
	height: 50px;
	border: 1px solid #969696;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	color: #7a7a7a;
	outline: none;
	padding: 0px 15px;
    
}

.sidebar .recent-posts .container {
    height: fit-content;
}

.sidebar .recent-posts ul {
    list-style: none;
}

.sidebar .recent-posts ul li {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.sidebar .recent-posts ul li:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: none;
}

.sidebar-item .recent-posts ,content{
    text-align: end;
}

.sidebar .recent-posts ul li a {
	font-size: 19px;
	font-weight: 900;
	color: #20232e;
	line-height: 30px;
	transition: all 0.3s;
    text-align: right;

}

.sidebar .recent-posts ul li a:hover {
	color: var(--second-color);
}


.sidebar .categories ul li {
	margin-bottom: 15px;
}


/*.sidebar .categories ul li a {
	font-size: 15px;
	font-weight: 700;
	color: #20232e;
	transition: all .3s;
}*/

@keyframes type-gradient {
  0% {
    background-position: 300px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (min-width: 2559px) {

    body {
        font-size: xx-large ;
    }

    .customFont{
    font-size: 25px;
}
}


/* Admindash */



