/* :root {
    --main-color: #FFE6E6;
    --second-color: #FF2626;
    --third-color: #BD1616;
    --four-color: #0c0c0c;
} */

:root {
    --main-color: #191825;
    --second-color: #865DFF;
    --third-color: #E384FF;
    --four-color: #400093;
    --fifth-color: #FF0B55;
}

body {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: large;
    color: #E384FF;


}

a,
h2 {
    color: var(--second-color) !important;
}

a:hover {
    color: var(--fifth-color) !important;
}



.hamburgermenu {
    display: none;

    svg {
        width: 40px;
        height: 40px;
    }

}

.containerCustom {
    width: 65%;
    margin: auto;
}

.customFont {
    font-size: 20px;
}

.fc-p {
    color: var(--main-color);
}

.fc-pb {
    background-color: var(--main-color);
}

.fc-s {
    color: var(--second-color);
}

.fc-sb {
    background-color: var(--second-color);
}

.fc-t {
    color: var(--third-color);
}

.fc-f {
    color: var(--four-color);
}

.fc-fifth {
    color: var(--fifth-color) !important;
}

.fc-tb {
    background-color: var(--third-color);
}

.fc-fb {
    background-color: var(--four-color);
}

.pap1 {
    height: 200px;
    width: auto;
}

.bordo {
    -webkit-text-stroke: 1px black;
}

/* 
a:hover {
    color:var(--second-color)  !important;
} */

img {
    width: 700px;
    height: 500px;
    justify-self: center;
    object-fit: cover;
}

.navImg img {
    width: 10% !important;
    height: auto;
}

svg {
    height: 70px;
    width: 70px;
    color: black;
}

.riquadroTest {
    background-size: cover;
    width: 100%;
    height: 400px;
}

/* TEST ROBE */

.carousel-item.active {
    background-size: contain;
    /* width: 500px; */
    height: 500px;
}

div#carouselExampleCaptions {
    width: 1000px;
    justify-self: center;
}

.justify-self-center {
    justify-self: center;
}


.vh {
    height: 70vh;
}

#reqBtn:hover {
    color: var(--third-color) !important;
    background-color: #0c0c0c;
}

/* Lista croci */

.lista-croci {
    list-style: none;
    padding-left: 0;
}

.lista-croci li::before {
    content: "✝ ";
    color: black;
    margin-right: 0.5em;
    font-size: 1.2em;
}

/* Titoli laterali */
.riquadroTest {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.scroll-laterale {
    overflow-y: scroll;
    padding-right: 0.5rem;
    scrollbar-width: thin;
    scrollbar-color: #999 transparent;
}

.scroll-laterale a {
    color: #865DFF;
    text-decoration: none;
}

.scroll-laterale a:hover {
    color: var(--third-color) !important;
}



/*Scorrimento + opzioni di navigazione*/

.tipo-display {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.notizie-scorrimento {
    width: 100%;
    overflow: hidden;
    background-color: 0c0c0c;
    color: #FFE6E6;
    padding: 10px 0;
    white-space: nowrap;
}

.scorrimento-contenuto {
    display: inline-block;
    padding-left: 100%;
    animation: scorrimento 15s linear infinite;
}

@keyframes scorrimento {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Scorrimento notizie */
.ticker-wrapper {
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
    font-size: 1.2rem;
    cursor: default;
    position: relative;
}

.ticker {
    display: inline-block;
    animation: ticker-scroll linear infinite;
}

.ticker-item {
    display: inline-block;
    margin-right: 60px;
}

.ticker-link {
    color: var(--four-color);
    text-decoration: none;
    font-weight: bold;
}

.ticker-link:hover {
    color: var(--third-color) !important;
}

/* Animazione base */
@keyframes ticker-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (max-width: 2559px) {

    body {
        font-size: xx-large;
    }

    .customFont {
        font-size: 25px;
    }


}


@media (max-width: 1024px) {

    .columnCustom {
        flex-direction: row;
    }

    body {
        font-size: 40px;
    }

    .customFont {
        font-size: 40px;


    }

    .containerCustom {
        width: 80%;
        margin: auto;
    }

    .carousel-item.active {
        background-size: contain;
        /* width: 500px; */
        height: 100%;
    }

    div#carouselExampleCaptions {
        width: 90%;
        justify-self: center;
    }

    .customNav {
        display: none;
    }

    .hamburgermenu {
        display: block;

        img {
            width: 20rem !important;
            height: 20rem !important;
        }
    }
}

@media (max-width: 600px) {

    .columnCustom {
        flex-direction: row;
    }

    body {
        font-size: 30px;
    }

    .customFont {
        font-size: 30px;
    }

    .containerCustom {
        width: 85%;
        margin: auto;
    }

    .columnCustom {
        flex-direction: column;
    }

    .carousel-item.active {
        background-size: contain;
        /* width: 500px; */
        height: 100%;
    }

    div#carouselExampleCaptions {
        width: 90%;
        justify-self: center;
    }
}




@keyframes type-gradient {
    0% {
        background-position: 300px 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media (min-width: 2559px) {

    body {
        font-size: xx-large;
    }

    .customFont {
        font-size: 25px;
    }
}


/* Admindash */